PORT=4000
MONGO_URI=mongodb://10.12.2.220:27017/foxvote
FRONTEND_ORIGIN=http://10.12.2.221
RANDOM_FOX_API_URL=https://randomfox.ca/floof/
RANDOM_FOX_IMAGE_BASE=https://randomfox.ca/images/
TOP_DEFAULT_LIMIT=5
