# Sample config for DB-VM (10.12.2.220)
storage:
  dbPath: /var/lib/mongodb
systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log
net:
  port: 27017
  bindIp: 127.0.0.1,10.12.2.220
processManagement:
  timeZoneInfo: /usr/share/zoneinfo
